{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Ajouter un type de produit {% endblock %}

{% block contenu %}
    
    <!--formulaire d'ajout d'un type de produit-->
    <form class="form-signin" method="post">
        <div align ="center" style="padding-left:10% ; padding-right:10% ; padding-top: 5%">
            <div style="padding-bottom:9%">
                <h1 class="h3 mb-3 font-weight-normal">Ajout d'un type de produit</h1>
            </div>
            <input type="libelle" class="form-control" id="libelle" name="libelle" placeholder="Libelle" required>
            <button type="submit" name="btAjouter" class="btn btn-lg btn-primary btn-block">Ajouter</button>
        </div>
    </form>

{% endblock %}